.dndContainer {
    display: flex;
    flex-direction: row;
    background: rgb(245, 245, 245);
    width: 95vw;
    height: 45rem;
    border-radius: 10px;
    margin: 2.5rem auto;
    box-shadow: rgb(220, 220, 220) 1px 3px 2px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 5px;

    .addColumns{ 
        height: 40px;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 5px;
        text-align: center;
        background: rgb(250, 250, 250);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border: 1px solid rgb(225, 225, 225);
        border-radius: 5px;
    }

    .dndGroups {
        display: flex;
        flex-direction: row;
        height: max-content;
        width: max-content;
        .column{
            display: flex;
            flex-direction: column;
            min-width: 20rem;
            height: min-content;
            max-height: 42rem;
            margin: 10px;
            padding: 15px;
            background: rgb(250, 250, 250);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border: 1px solid rgb(225, 225, 225);
            border-radius: 5px;
            text-align: center;
            overflow-y:scroll;
            overflow-x: hidden;
            & > .listTitle {
                border: 1px solid rgba(211, 211, 211, 0);
                background: none;
                font-weight: 700;
                padding: 10px;
                margin-bottom: 5px;
                outline: 5px solid rgba(211, 211, 211, 0);
            }
            & > .listTitle:hover{
                border: 1px solid rgba(0, 0, 255, 0.187);
                outline: 3px rgba(0, 60, 255, 0.358) solid;
                border-radius: 1px;
            }

            .addTasks{
                display: flex;
                // width: 100%;
                margin-bottom: 1rem;
                padding: 0;
                & > input {
                   padding: 10px;
                   border: 1px lightgrey solid;
                   width: 16rem;
               }
               & > span {
                   justify-self: center;
                   align-self: center;
                   text-align: center;
                   padding: 10px;
                   width: 2.01rem;
                   border-radius: 0;
                   background: rgba(0, 113, 219, 0.8);
                   border: 1px solid rgb(0, 102, 255);
                   color: white;
                   font-weight: 800;
                margin-left: -1px;
               }
            }
        }

        span {      
            background-color: rgb(232, 232, 232);
            padding: 5px 10px;
            border-radius: 5px;}

        .dndItems{
            display: flex;
            flex-direction: row;
            background: white;
            // border: 1px solid lightgrey;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 1.6px;
            border: 1px solid lightgrey;
            padding: 15px;
            margin: 0.3rem auto;
            width: 18rem;
            text-align:start;
            justify-content: space-between;
        }
        // .addTask{
        //     display: flex;
        //     align-self: center;
        //     justify-content: center;
        //     box-shadow: rgba(0, 0, 0, 0.50) 0px 1px 3px;
        //     background: rgba(0, 113, 219, 0.8);
        //     width: 100%;
        //     height: 25px;
        //     color: rgb(255, 255, 255);
        //     border-radius: 0px;
        //     font-size: 0.8rem;
        //     font-weight: 600;
        //     text-align: center;
        //     margin: 5px;
        //     padding: 2px;
        //     cursor: pointer;
        // }
    }
}